.search-low{
  color:#08c02d;
}

.search-high{
  color:#ef622b;
}

.search-mia{
  color:#e9ec62;
}

.source{
  color:#696969;
}

#faq-btn{
  border-radius: 50%;
}

#results-div{
  visibility: hidden;
  text-shadow:none;
}

.cover{
  margin-top:1em;
}

.faq-copy{
  color: black;
  text-shadow: none;
}

#source{
  float: right;
  color: grey;
}

.gh-link{
  color: #999;
}
